body{
  font-family: arial;
}
#cabecera{
  position: absolute;
  top: 6%;
  left: 10%;
  width: 50%;
  height: 60px;
  padding: 3px;
  text-align: center;
  font-size: 30px;
  border: 2px solid black;
}
#contenedor{
  position: absolute;
  top: 15%;
  left: 10%;
  width: 50%;
  padding: 10px;
  border: 2px solid black;
}
#tabla{
  width: 90%;
  text-align: center;
  align: center;
  margin: auto;
}